.listaDindin {

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: 58px;
    width: 864px;
    gap: 30px;

    background: #FAFAFA;
    box-shadow: 0px 2px 11px 0px #0000001A;
}

.listaDindin span {
    padding: 15px;
    margin-left: 30px;

}

.seta {
    position: absolute;
    left: 58px;
    top: 30px;
    padding: 1px;

    border: solid transparent;
    border-width: 1px 1px 2px 2px;
    box-shadow: 2px -2px 0 1px #3A9FF1;
    margin-left: 30px;
    transform: rotate(-40deg);
}